/********************icon-down*********************/
@keyframes icon-down-animation{
  0%{
    opacity:0.8;
  }
  50%{
    opacity:0.2;
  }
  100%{
    opacity:0.8;
  }
}

@-webkit-keyframes icon-down-animation{
  0%{
    opacity:0.8;
  }
  50%{
    opacity:0.2;
  }
  100%{
    opacity:0.8;
  }
}


@-moz-keyframes icon-down-animation{
  0%{
    opacity:0.8;
  }
  50%{
    opacity:0.2;
  }
  100%{
    opacity:0.8;
  }
}


@-o-keyframes icon-down-animation{
  0%{
    opacity:0.8;
  }
  50%{
    opacity:0.2;
  }
  100%{
    opacity:0.8;
  }
}


@-ms-keyframes icon-down-animation{
  0%{
    opacity:0.8;
  }
  50%{
    opacity:0.2;
  }
  100%{
    opacity:0.8;
  }
}