<% include ./common/header%>
<img src="/images/logo.png" class="logo">
<h3 class="title">新生儿遗传代谢病检测</h3>
<div class="form">
    <div class="input-group">
        <input class="input cradID" type="text" placeholder="请输入查询编号"><span class="icon-must"> ＊</span>
    </div>
    <input class="input name" type="text" placeholder="请输入您的姓名">
    <button class="button" type="button" onClick="isWeixinOrAlipay()">确认支付</button>
</div>
<script>
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        $("title").text('微信支付');
    } else if(ua.match(/AlipayClient/i)=="alipayclient"){
        $("title").text('支付宝支付');
    }else{
        $("title").text('云量支付');
    }
    function url2obj(){
        var str = location.search.slice(1);
        str = str.split('&');
        var obj = {};
        str.forEach(function(ele) {
            var _index = ele.indexOf('=');
            obj[ele.slice(0, _index)] = decode(ele.slice(_index + 1));
        });
        return obj;
    }
    function decode(str) {
        return decodeURI(decodeURI(str));
    }
    function isWx(){
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger" && url2obj().platForm == undefined) {
            window.location.href= "/form?platForm=wechat";
        }
    }
    isWx();
</script>
<% include  ./common/footer%>
