<% include ./common/header%>
<div class="container bgc-eee">
    <div class="payInfo bgc-eee">
        <div class="payInfo-money">
            <div class="payInfo-moneyName">订单金额</div>
            <div class="payInfo-moneyNum">￥1880</div>
        </div>
        <div class="payInfo-name">
            订单名称：新生儿遗传代谢病检测
        </div>
        <div  class="payInfo-content">
            <table>
                <thead>
                <tr>
                    <th> 检测项目</th>
                    <th class="tac"> 数量（56）</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 氨基酸代谢障碍类遗传代谢病</td>
                    <td class="tac">19</td>
                </tr>
                <tr>
                    <td>有机酸血症类遗传代谢病</td>
                    <td class="tac">15</td>
                </tr>
                <tr>
                    <td> 脂肪酸氧化缺陷类遗传代谢病</td>
                    <td class="tac">13</td>
                </tr>
                <tr>
                    <td>溶酶体贮积症*</td>
                    <td class="tac">9</td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="button" onClick="isWeixinOrAlipay()">确认支付</button>
    </div>
</div>
<script>
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        $("title").text('微信支付');
    } else if(ua.match(/AlipayClient/i)=="alipayclient"){
        $("title").text('支付宝支付');
    }else{
        $("title").text('云量支付');
    }
</script>
<script src="/javascripts/pay.js"></script>
<% include  ./common/footer%>
