<% include ./common/header%>
<div class="swiper-container container">
   <div class="swiper-wrapper">
       <div  class="swiper-slide">
           <div class="imgBox logoImgBox">
               <img src="/images/logoTitle.png" class="logoTitleImg">
           </div>
           <img src="/images/bg_introduce.jpg" class="introduce-bg">
           <div class="introduce">
               <div class="info">
                   云量科技成立于2017年，是广州市一家专业的先进的医疗科技推广服务公司。公司致力于为各级医疗机构及大众，提供国内领先的医疗检测、信息化建设推广等专业服务。
               </div>
           </div>
           <img src="/images/icon-down.png" class="icon-down">
       </div>
       <div  class="swiper-slide tac">
           <img src="/images/price.png" class="titleImg">
           <img src="/images/price-info.png" class="priceInfo">
           <img src="/images/business.png" class="titleImg business">
           <div class="businessInfo">
               <h3 class="businessInfo-title"> 医疗检测、信息化建设推广等服务。</h3>
               <img src="/images/business-img.png" class="businessInfo-img">
           </div>
           <img src="/images/icon-down-blue.png" class="icon-down">
       </div>
       <div  class="swiper-slide tac">
           <img src="/images/strengths.png" class="titleImg strengths">
           <img src="/images/strengths-img.png" class="strengthsImg">
           <img src="/images/icon-down-blue.png" class="icon-down">
       </div>
       <!--<div  class="swiper-slide">-->
           <!--<img src="/images/company.png" class="titleImg company">-->
           <!--<ul class="companyImgs">-->
               <!--<li>-->
                   <!--<div class="itemImg">-->
                       <!--<img src="/images/company-logo.png">-->
                   <!--</div>-->
                   <!--公司logo-->
               <!--</li>-->
               <!--<li>-->
                   <!--<div  class="itemImg">-->
                       <!--<img src="/images/rest.png">-->
                   <!--</div>-->

                   <!--休息区-->
               <!--</li>-->
               <!--<li>-->
                   <!--<div  class="itemImg">-->
                       <!--<img src="/images/work.png" >-->
                   <!--</div>-->
                   <!--工作区-->
               <!--</li>-->
               <!--<li>-->
                   <!--<div class="itemImg">-->
                       <!--<img src="/images/conference.png">-->
                   <!--</div>-->
                   <!--会议室-->
               <!--</li>-->
           <!--</ul>-->
       <!--</div>-->
       <div class="swiper-slide">
           <img src="/images/team-img.png" class="team-titleImg">
           <div class="team">
               <div class="item">
                   <img src="/images/team-gq.png" class="team-img">
                   <div class="post">
                       高强 博士<br>
                       技术平台 总负责人
                   </div>
                   <div>美国普渡大学博士、<br>原赛诺菲高级研究员</div>
               </div>
               <div class="item">
                   <img src="/images/team-pj.png" class="team-img">
                   <div class="post">
                       彭军 博士<br>
                       技术平台 总负责人
                   </div>
                   <div>加拿大阿尔伯塔大学博士、<br>哈佛大学麻省总医院质谱、<br>平台负责人</div>
               </div>
           </div>
           <div class="team">
               <div class="item">
                   <img src="/images/team-wcc.png" class="team-img">
                   <div class="post">
                       吴超超 博士<br>
                       蛋白组学平台<br>
                       负责人
                   </div>
                   <div>中国科学院博士、<br>美国太平洋西北国家<br>实验室博士后 、<br>原俄勒冈大学研究员</div>
               </div>
               <div class="item">
                   <img src="/images/team-wlx.png" class="team-img">
                   <div class="post">
                       王来新 博士<br>
                       药物分析平台<br>
                       负责人
                   </div>
                   <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京大学博士 、<br>原Tandem、<br>Lab高级总监</div>
               </div>
               <div class="item">
                   <img src="/images/team-fk.png" class="team-img">
                   <div class="post">
                       冯钶 博士<br>
                       大数据分析平台<br>
                       负责人
                   </div>
                   <div class="over">西弗吉尼亚大学、<br>工程物理博士、<br>卡耐基梅隆大学IT主管</div>
               </div>
           </div>
           <img src="images/icon-down-blue.png" class="icon-down">
       </div>
   </div>
</div>
<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'vertical'
    })
</script>
<% include  ./common/footer%>