<% include ./common/header%>
<div class="container centerAll">
    <div class="noQuery-box">
        <img src="/images/noQuery.png" class="noQuery">
        <div class="noQuery-text">
            您输入的单号出错了……
        </div>
    </div>
</div>
<% include  ./common/footer%>