<% include ./common/header%>
<div class="container">
    <img src="/images/logo.png" class="logo">
    <h3 class="title">新生儿遗传代谢病检测</h3>
    <div class="form">
        <div class="input-group">
            <input class="input cradID" type="text" placeholder="请输入查询编号"><span class="icon-must"> ＊</span>
            <span class="hint">提示：查询编号请在新生儿遗传代谢病申请单上查看</span>
        </div>
        <input class="input name" type="text" placeholder="请输入您的姓名">
        <button class="button pay" type="button" onClick="confirm()">确认信息</button>
        <a class="jumpProcess" href="/verland">云量检测介绍</a>
    </div>
</div>
<script>
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        $("title").text('微信支付');
    } else if(ua.match(/AlipayClient/i)=="alipayclient"){
        $("title").text('支付宝支付');
    }else{
        $("title").text('云量支付');
    }
    function opacity(){
        if($('.cradID').val() !=""){
            $(".pay").css({
                opacity: 1
            })
        }else{
            $(".pay").css({
                opacity: 0.5
            })
        }
    }
    function confirm(){
        if($('.cradID').val() !=""){
            $.ajax({
                url:'/addCustomer',
                method:'POST',
                data:{
                    cradID:$('.cradID').val(),
                    name:$('.name').val()
                },
                success:function(result){
                    if(result.status === 1){
                        window.location.href= "/form?cardID="+$('.cradID').val();
                    }else{
                        alert(result.message);
                    }
                }
            })
        }
    }
    opacity();
    $('.cradID').bind('input propertychange',opacity);

    function loadJssdk(res){
      wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: res.datas.appId, // 必填，公众号的唯一标识
        timestamp: res.datas.timestamp, // 必填，生成签名的时间戳
        nonceStr: res.datas.noncestr, // 必填，生成签名的随机串
        signature: res.datas.signature, // 必填，签名，见附录1
        jsApiList: ['chooseWXPay','getLocation','openLocation','previewImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
      });
    }
    function getWxJssdk(){
      $.ajax({
        type: "GET",
        url:"/initWx?url="+encodeURIComponent(location.href.split('#')[0]),
        success: function(res){
          if(res.status == 1){
            loadJssdk(res)
          }
        }
      })
    }

    getWxJssdk();


    function url2obj(){
      var str = location.search.slice(1);
      str = str.split('&');
      var obj = {};
      str.forEach(function(ele) {
        var _index = ele.indexOf('=');
        obj[ele.slice(0, _index)] = decode(ele.slice(_index + 1));
      });
      return obj;
    }
    function decode(str) {
      return decodeURI(decodeURI(str));
    }
    function isWx(){
      var ua = navigator.userAgent.toLowerCase();
      if(ua.match(/MicroMessenger/i)=="micromessenger" && url2obj().platForm == undefined) {
        window.location.href= "/payInfo?platForm=wechat";
      }
    }

    isWx();

</script>
<% include  ./common/footer%>
