<% include ./common/header%>
<div class="container inputInfo">
    <img src="/images/logo.png" class="logo">
    <h3 class="title">新生儿遗传代谢病检测</h3>
    <div class="form">
        <div class="input-group">
            <span class="group-left">手机号码</span>
            <div class="group-right">
                <input class="input phone over" type="text" placeholder="请输入手机号码" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')" ><span class="icon-must">发送验证码</span>
            </div>
        </div>
        <div class="input-group">
            <span class="group-left"></span>
            <div class="group-right">
                  <input class="input code over" type="text" placeholder="请输入验证码" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')"><span class="icon-verify"></span>
            </div>
        </div>
        <div class="input-group">
            <span class="group-left">母亲姓名</span>
            <div class="group-right">
                <input class="input name" type="text" placeholder="请输入母亲姓名">
            </div>
        </div>
        <div class="input-group">
             <span class="group-left">待产医院</span>
            <div class="group-right">
                <input class="input hosName" type="text" placeholder="请输入待产医院">
            </div>
        </div>
        <div class="input-group">
             <span class="group-left">收件地址</span>
            <div class="group-right">
                <input class="input address" type="text" placeholder="请输入收件地址">
            </div>
        </div>
    </div>
    <div class="protocol-box" >
        <i class="radio active"></i>
        <a href="/protocol" class="protocol-link">
            我已阅读《新生儿遗传代谢病筛查知情同意书》
        </a>
    </div>
    <button class="button pay" type="button" onClick="confirm()">确认信息</button>
    <a class="jumpProcess" href="/verland">检测介绍</a>
</div>
<script src="/javascripts/index.js"></script>
<script>
    var wait = 60;
    //确认信息
    function confirm(){
        if(!isFull()) return;
        if(!$('.radio').hasClass('active')){
            alert('请阅读并同意同意书');
            return;
        }
        $.ajax({
            url:'/addCustomer',
            method:'POST',
            data:{
                phone:$('.phone').val(),
                name:$('.name').val(),
                hosName:$('.hosName').val(),
                address:$('.address').val()
            },
            success:function(result){
                console.log(result,"返回信息");
                if(result.status === 1){
                    window.location.href= "/form?id="+result.datas._id;
                }else{
                    alert(result.message);
                }
            }
        })
    }
    //判断是否是微信
    function isWx(){
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger" && typeof url2obj().platForm == 'undefined') {
            window.location.href= "/payInfo?platForm=wechat";
        }
    }
    //信息是否填写完整
    function isFull(){
        if(!!$('.phone').val() && !!$('.name').val() && !!$('.hosName').val() && !!$('.address').val() && !!$('.code').val() && $('.icon-verify').hasClass("correct")){
            return true;
        }else{
            return false;
        }
    }
    //按钮样式
    function opacity(){
        if(isFull()){
            $(".pay").css({
                opacity: 1
            })
        }else{
            $(".pay").css({
                opacity: 0.5
            })
        }
    }
    //验证验证码
    function verifyCode(){
        if(!!$('.code').val()){
           if($('.code').val().length == 4){
               $.ajax({
                   url:'/checkCode?phone='+$('.phone').val()+'&code='+$('.code').val(),
                   method:'GET',
                   success:function(result){
                       if(result.statu === 1){
                           $('.input-group .icon-verify').removeClass('close').addClass('correct').show();
                       }else{
                           $('.input-group .icon-verify').removeClass('correct').addClass('close').show()
                       }
                       opacity()
                   }
               })
           }else{
               $('.input-group .icon-verify').removeClass('correct').addClass('close').show()
           }
        }else{
            $('.input-group .icon-verify').attr('class','icon-verify').hide();
        }
    }
    //重新发送验证
    function waitTime() {
        if (wait == 0) {
            $('.icon-must').text("发送验证码");
            wait = 60;
        } else {
            $('.icon-must').text("重新发送(" + wait + ")");
            wait--;
            setTimeout(function(){waitTime()},1000)
        }
    }
    //判断是否是手机号
    function vailPhone(){
        var phone = jQuery(".phone").val();
        var flag = false;
        var message = "";
        var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if(phone == ''){
           alert("手机号码不能为空！");
        }else if(phone.length !=11){
            alert("请输入有效的手机号码！");
        }else if(!myreg.test(phone)){
            alert("请输入有效的手机号码！");
        }else{
            flag = true;
        }
        return flag
    }

    $('.radio').click(function(){
        if($('.radio').hasClass('active')){
            $(this).removeClass('active')
        }else{
            $(this).addClass('active')
        }
    })
    $('.icon-must').click(function(){
        if(vailPhone() && wait==60){
            $.ajax({
                type: "GET",
                url:"/getCode?phone="+$('.phone').val(),
                success: function(res){
                    console.log(res)
                    if(res.statu == 1){
                        alert('验证码已发送到您的手机，请勿泄露。');
                        waitTime();
                    }
                }
            })
        }
    })
    $('.code').bind('input propertychange',verifyCode);
    $('.phone').bind('input propertychange',verifyCode);
    $('.input-group .group-right .input').bind('input propertychange',opacity);
    //修改页面title名
    updateTitle();
    //判断验证码是否正确
    verifyCode();
    //判断浏览器
    isWx();
    //微信初始化
    getWxJssdk();
    //判断按钮是否可以提交
    opacity();
</script>
<% include  ./common/footer%>
