<% include ./common/header%>
<div class="container">
   <div class="list bgc-eee"></div>
</div>
<script>
    var i= 1,totalPage= 1,isLoadData=true;
      function getDatas(){
          fetch("/admin/issue?page="+i,{
              method:"GET",
              body: JSON.stringify(),
              headers:{
                  'Accept':'application/json',
                  'Content-Type':'application/json'
              }
          }).then((res)=>{
              return res.json()
          }).then(function(res){
              if(res.status == 1 && res.datas.length != 0){
                  var item="";
                  isLoadData=false;
                  totalPage=res.page.totalPage;
                  $(res.datas).each(function(index,ele){
                      item+="<a class='item icon-ask icon-right' href=/problemContent/"+ele._id+">"+ ele.title+'</a>';
                  });
                  $('.list').append(item);
              }else{
                  console.log("没数据")
              }
          })
      }
    getDatas()
    $(window).scroll(function(){
       if($(".list")[0].scrollHeight-$(this).height()-$(this).scrollTop()<=0 && totalPage > i){
           if(isLoadData) return false;
           isLoadData=true
           i+=1;
           getDatas();
       }
    })

</script>
</body>
</html>