<% include ./common/header%>
<div class="container">
    <div class="process">
        <img src="/images/process-one.png">
        <img src="/images/process-two.png">
        <img src="/images/process-three.png">
        <img src="/images/process-four.png">
    </div>
</div>
<% include  ./common/footer%>