<% include ./common/header%>
<div class="container protocol">
    <div class="protocol-title">新生儿遗传代谢病筛查知情同意书</div>
    <div class="protocol-item">
        【项目介绍】
        <p>
            新生儿遗传代谢病是影响儿童智力和体格发育的严重疾病，若及早诊断和治疗，患儿的身心发育大多可达到正常同龄儿童的水平。本筛查是根据《中华人民共和国母婴保健法实施办法》 、卫生部《新生儿疾病筛查管理办法》在新生儿期对严重危害新生儿健康的先天性、遗传性疾病施行的专项检查，以达到早期诊断、早期治疗的目的。对防止残疾、提高出生人口素质有着重大意义。
            新生儿生长发育健康评估是通过检测新生儿体内33种氨基酸的含量，评估新生儿体内氨基酸水平的高低，给出调整建议，从而达到新生儿健康生长发育的目的；
        </p>
    </div>
    <div class="protocol-item">
        【局限性和风险】
        <p>
            该检测通常能提供准确的信息，但仍存在发生极少数误差的可能性。误差来源包括（不局限）个体差异、样本误差、样本污染等等。鉴于当前医学检测技术水平限制，即使医务人员已经履行了工作职责和严格按照技术规范流程进行操作的前提下仍有可能不准确结果。
        </p>
    </div>
    <div class="protocol-item">
        【知情内容】
        <p>1、我已经充分了解该检测的性质、目的、必要性和风险，自愿申请检测；</p>
        <p>2、本次检测仅对该次送检样本负责，所有检测报告均由权威专家认真审阅；</p>
        <p>3、我理解该检测结果仅作参考，不作为最终临床诊断数据；</p>
        <p>4、因不可抗因素导致样本不合格时，愿意重新采样。</p>
        <p>5、我同意在去除隐私信息后，由相关机构处理检测涉及的血液和医疗废弃物。</p>
    </div>
    <a href="/payInfo" class="button pay" type="button">我已阅读并同意</a>
</div>
<% include  ./common/footer%>
