<% include ./common/header%>
<div class="container">
    <div class="imgBox">
        <img src="/images/query.png" class="logoTitleImg">
    </div>
    <div class="queryId">
        <input id="number" class="input" type="text" placeholder="请输入手机号码">
        <button onClick="query()" class="button query-btn">查询进度</button>
    </div>
    <img src="/images/loading.gif" class="loading none">
    <div class="progress">
        <span class="progressItem active">
            暂未开始采样
        </span>
         <span class="progressItem">
           采样完毕，暂未送检
        </span>
          <span class="progressItem">
            送检中
        </span>
          <span class="progressItem">
           样本检验中
        </span>
          <span class="progressItem">
            报告已送出
        </span>
    </div>
</div>
<script>
   function opacity(){
       if($('.queryId #number').val() !=""){
           $(".query-btn").css({
               opacity: 1
           })
       }else{
           $(".query-btn").css({
               opacity: 0.5
           })
       }
   }
   opacity();
    $('.queryId #number').bind('input propertychange',opacity);
    function query(){
        if($("#number").val() != "" ){
            $(".queryId").hide(0);
            $(".loading").show(0);
            $(".imgBox").hide()
            $.ajax({
                type: "GET",
                url:"/query/"+$("#number").val() ,
                success: function (res) {
                    $(".loading").hide(0);
                    if(res.status == 1){
                        if(!!res.datas){
                            $(".progress").show(0);
                            $(".imgBox").show()
                            $(".progress .progressItem").removeClass("active");
                            var progressItem = $(".progress .progressItem")[res.datas.checkStatu]
                            $(progressItem).addClass("active").prevAll().andSelf().css({display:"flex"})
                        }else{
                            window.location.href="/noQuery";
                        }
                    }else{
                        window.location.href="/noQuery";
                    }
                }
            })
        }
    }
</script>
<% include  ./common/footer%>
