<% include ./common/header%>
<div class="container">
    <div class="imgBox">
        <img src="/images/query.png" class="logoTitleImg">
    </div>
    <div class="form">
        <input id="number" class="input" type="text" placeholder="请输入查询编号">
        <button onclick="query()" class="button query-btn">查询进度</button>
    </div>
    <img src="/images/loading.gif" class="loading none">
    <div class="progress">
        <span class="progressItem active">
            正在送检中，请耐心等待……
        </span>
         <span class="progressItem">
             送检完成
        </span>
          <span class="progressItem">
             检验完成
        </span>
          <span class="progressItem">
             已寄出检验报告
        </span>
          <span class="progressItem active">
             检验报告已送达，请注意查收
        </span>
    </div>
</div>
<script>
   function opacity(){
       if($('.form #number').val() !=""){
           $(".query-btn").css({
               opacity: 1
           })
       }else{
           $(".query-btn").css({
               opacity: 0.5
           })
       }
   }
   opacity();
    $('.form #number').bind('input propertychange',opacity);
    function query(){
        if($("#number").val() != "" ){
            $(".form").hide();
            $(".loading").show();
            $.ajax({
                type: "GET",
                url:"/query/"+$("#number").val() ,
                success: function (res) {
                    if(res.status == 1){
                        $(".loading").hide();
                        $(".progress").show();
                        if(res.datas.checkStatu){
                            $(".progress .progressItem").removeClass("active");
                            let progressItem = $(".progress .progressItem")[res.datas.checkStatu]
                            $(progressItem).addClass("active").prevAll().andSelf().css({display:"flex"})
                        }
                    }else{
                        window.location.href="/noQuery";
                    }
                }
            })
        }
    }
</script>
<% include  ./common/footer%>