<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>微信支付</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet"  href="../public/css/index.css"/>
    <script type="text/javascript">
        function browserRedirect() {
            var iScale = 1;
            iScale = iScale / window.devicePixelRatio;
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                document.querySelector('meta[name="viewport"]').setAttribute("content", "width=device-width,user-scalable=no,initial-scale=" + iScale + ",minimum-scale=" + iScale + ",maximum-scale=" + iScale);
                var iWidth = document.documentElement.clientWidth;
                document.getElementsByTagName('html')[0].style.fontSize = (iWidth / 750)*20 + 'px';
            } else {
                document.getElementsByTagName('html')[0].style.fontSize = 20 + 'px';
            }
        }
        browserRedirect();
    </script>
</head>
<body>
<div class="container verland">
    <div class="verland-title">技术团队优势</div>
    <div class="team">
       <div class="item">
           <img src="../public/imgs/team-gq.png" class="team-img">
           <div class="post">
               高强 博士 <br>
               技术平台 总负责人
           </div>
           <div class="tal">美国普渡大学博士、原赛诺菲高级研究员</div>
       </div>
        <div class="item">
            <img src="../public/imgs/team-gq.png" class="team-img">
           <div class="post">
               高强 博士 <br>
               技术平台 总负责人
           </div>
            <div class="tal">美国普渡大学博士、原赛诺菲高级研究员</div>
        </div>
    </div>
    <div class="team">
        <div class="item">
            <img src="../public/imgs/team-gq.png" class="team-img">
            <div class="post">
                高强 博士 <br>
                技术平台 总负责人
            </div>
            <div class="tal">美国普渡大学博士、原赛诺菲高级研究员</div>
        </div>
        <div class="item">
            <img src="../public/imgs/team-gq.png" class="team-img">
            <div class="post">
                高强 博士 <br>
                技术平台 总负责人
            </div>
            <div class="tal">美国普渡大学博士、原赛诺菲高级研究员</div>
        </div>
        <div class="item">
            <img src="../public/imgs/team-gq.png" class="team-img">
            <div class="post">
                高强 博士 <br>
                技术平台 总负责人
            </div>
            <div class="tal">美国普渡大学博士、原赛诺菲高级研究员</div>
        </div>
    </div>
    <div class="sliderBox">
        <ul class="sliderNav">
            <li></li>
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
</body>
</html>