<% include ./common/header%>
<div class="swiper-container container intro">
    <div class="swiper-wrapper">
        <div class="swiper-slide centerAll">
            <div class="introImg">新筛健康<br>评估</div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="intro-title">新生儿代谢病筛查及生长发育健康评估检查项目</div>
            <div class="introInfo">
                <p>包括新生儿代谢疾病筛查以及全谱氨基酸质谱检测生长发育健康评估。</p>
                <p>新生儿代谢病筛查(neonatal screening，简称新生儿疾病筛查) 是指在新生儿群体中，用快速、简便、敏感的检验方法，对一些危害儿童生命、导致儿童体格及智能发育障碍的先天性、性疾病进行筛检，作出早期诊断，在患儿临床症状出现之前，给予及时治疗，避免患儿机体各器官受到不可逆损害的一项系统保健服务。</p>
                <p>新生儿疾病筛查作为出生缺陷预防措施之一，是防治儿童智力低下，提高出生人口素质的基本手段，也是时代进步和科学技术发展的标志。</p>
                <p class="mgt30">氨基酸质谱检测生长发育健康评估：氨基酸涉及人体生长发育、营养健康、肌肉骨骼生长、激素分泌、解毒功能的各个健康环节。</p>
                <p>氨基酸的检测已成为健康诊断和疾病筛查的重要手段。</p>
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="intro-title">新生儿代谢病筛查的意义</div>
            <div class="introInfo">
                <span class="red">早筛查！早诊断！早治疗！</span>
                <div class="example">
                    例：安徽一位赵姓小朋友，出生后没做新生儿代谢疾病筛查，2个月后发病：呕吐，嗜睡，抽搐，诊断为甲基丙二酸血症。经治疗后，血丙酰肉碱恢复正常，但智力、语言发育落后。如在出生时及时筛查，早发现并治疗，可使其身心发育健康。
                    <img class="screening-img" src="/images/introInfo-screening.png" alt="">
                    <div class="explain">
                        检测新生儿代谢疾病47项，通过大数据比对及专家解析检测结果，筛查可能出现的代谢疾病。
                    </div>
                </div>
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="intro-title">生长发育健康评估的意义</div>
            <div class="introInfo">
                <span class="red">早检测、早评估、早改善！</span>
                <div class="example">
                    例：缺乏赖氨酸患儿：生长发育缓慢，智力发育障碍，免疫力低易感染疾病，出现水肿和贫血……在出生6个月内接受治疗的赖氨酸患儿，生长发育正常，智力恢复到正常水平。
                    <img class="meaning-img" src="/images/introInfo.png" alt="">
                    <div class="explain">
                        了解新生儿体内氨基酸的平衡状态，指导调整饮食，从而实现新生儿正常生长发育的目标。
                    </div>
                </div>
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="intro-title">新生儿代谢病筛查及生长发育健康评估检查项目</div>
            <div class="introInfo project">
                <span class="red">新生儿代谢疾病筛查</span>
                <div class="projectInfo">
                    针对三大类疾病：氨基酸代谢疾病、有机酸代谢疾病、脂肪酸代谢疾病，共检测47项。
                </div>
                <ul class="projectClassify">
                    <li>氨基酸代谢 <br>  疾病检测</li>
                    <li>有机酸代谢 <br>  疾病检测</li>
                    <li>脂肪酸代谢 <br>  疾病检测</li>
                </ul>
                <div class="healthIntro">
                    <span class="red">生长发育健康评估</span>
                    <div class="projectInfo">
                        通过对人体33种氨基酸检测，揭示人体详细的氨基酸代谢状况，全面评估宝宝营养健康状况。
                    </div>
                    <ul class="projectClassify">
                        <li>全谱氨基酸 <br>  质谱检测</li>
                    </ul>
                </div>
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="detectionList">
                <div class="detectionItem">
                    <span class="detectionItem-title">氨基酸代谢疾病检测</span>
                    <div class="detectionItem-infoBox">
                        <ul class="detectionItem-info">
                            <li>苯丙酮尿症（PKU）</li>
                            <li>精胺丁二酸酶缺乏症</li>
                            <li>生物蝶呤生物合成病</li>
                            <li>高蛋氨酸血症</li>
                            <li>鸟氨酸氨甲酰转移酶缺乏症</li>
                        </ul>
                        <ul class="detectionItem-info mgl42">
                            <li>枫糖尿病</li>
                            <li>酪氨酸血症Ⅰ型</li>
                            <li>高精氨酸血症</li>
                            <li>瓜氨酸血症Ⅱ型</li>
                            <li>丙酸血症</li>
                        </ul>
                        <ul class="detectionItem-info mgl52">
                            <li>高胱氨酸尿症</li>
                            <li>高苯丙氨酸血症</li>
                            <li>酪氨酸血症Ⅲ型</li>
                            <li>高脯氨酸血症</li>
                            <li class="long">高鸟氨酸血症-高血氨症-高同型瓜氨酸尿症综合症</li>
                        </ul>
                        <ul class="detectionItem-info mgl68">
                            <li>瓜氨酸血症Ⅰ型</li>
                            <li>酪氨酸血症Ⅱ型</li>
                            <li>生物蝶呤的再生障碍</li>
                            <li>非酮性高甘氨酸血症</li>
                        </ul>
                    </div>
                </div>
                <div class="detectionItem">
                    <span class="detectionItem-title">有机酸代谢疾病检测</span>
                    <div class="detectionItem-infoBox flex">
                        <ul class="detectionItem-info">
                            <li> 戊二酸血症Ⅰ型</li>
                            <li>甲基丙二酸血症</li>
                            <li>β酮基硫解酶缺乏症</li>
                            <li>2-甲基-3-羟基丁酸血症</li>
                            <li>乙基丙二酸血症</li>
                        </ul>
                        <ul class="detectionItem-info">
                            <li>3-羟基-3-甲基戊二酸尿症</li>
                            <li>丙二酸血症</li>
                            <li>2-甲基丁酰甘氨酸尿症</li>
                            <li>异戊酸血症</li>
                            <li>氨甲酰磷酸合成酶缺乏症</li>
                        </ul>
                        <ul class="detectionItem-info">
                            <li>多重辅酶A羧化酶缺乏症</li>
                            <li>异丁酰甘氨酸尿症</li>
                            <li>3-甲基戊烯二酸血症</li>
                            <li> 3-甲基巴豆酰辅酶A羧化酶缺乏症</li>
                            <li>甲基丙二酸血症合并同型半胱氨酸血症</li>
                        </ul>
                    </div>
                </div>
                <div class="detectionItem">
                    <span class="detectionItem-title">脂肪酸代谢疾病检测</span>
                    <div class="detectionItem-infoBox flex">
                        <ul class="detectionItem-info">
                            <li>肉碱摄取缺损</li>
                            <li>戊二酸血症Ⅱ型</li>
                            <li>中链酰基辅酶A硫解酶缺乏症</li>
                            <li>肉碱-酰基肉碱的移位酶缺乏症</li>
                            <li>2,4-二烯醇-辅酶A还原酶缺乏症</li>
                        </ul>
                        <ul class="detectionItem-info">
                            <li>三官能团蛋白质缺乏症</li>
                            <li>中链酰基酶A脱氢酶缺乏症</li>
                            <li>超长链酰基辅酶A脱氢酶缺乏症</li>
                            <li>短链酰基辅酶A脱氢酶缺乏症</li>
                        </ul>
                        <ul class="detectionItem-info">
                            <li>短链左-3-羟酰基辅酶A脱氢酶缺乏症</li>
                            <li>肉碱棕榈酰转移酶缺乏症Ⅱ型</li>
                            <li>肉碱棕榈酶Ⅰ型转移酶缺乏症Ⅰ型</li>
                            <li>长链左-3-羟酰基辅酶A脱氢酶缺乏症</li>
                        </ul>
                    </div>
                </div>
                <div class="detectionItem">
                    <span class="detectionItem-title">全谱氨基酸质谱检测</span>
                    <div class="detectionItem-infoBox flex">
                        <ul class="detectionItem-info">
                            <li>1-甲基组氨酸</li>
                            <li>精氨酸</li>
                            <li>谷氨酸</li>
                            <li>亮氨酸</li>
                            <li>苏氨酸</li>
                        </ul>
                        <ul class="detectionItem-info">
                            <li>3-氨基异丁酸</li>
                            <li>天门冬酰胺</li>
                            <li>甘氨酸</li>
                            <li>赖氨酸</li>
                            <li>色氨酸</li>
                        </ul>
                        <ul class="detectionItem-info">
                            <li>3-甲基组氨酸</li>
                            <li>天门冬氨酸</li>
                            <li>同型精氨酸</li>
                            <li>甲硫氨酸</li>
                            <li>酪氨酸</li>
                        </ul>
                        <ul class="detectionItem-info">
                            <li>氨基己二酸</li>
                            <li>β-丙氨酸</li>
                            <li>组氨酸</li>
                            <li>鸟氨酸</li>
                            <li>缬氨酸</li>
                        </ul>
                        <ul class="detectionItem-info">
                            <li>2-氨基正丁酸</li>
                            <li>瓜氨酸</li>
                            <li>羟基脯氨酸</li>
                            <li>苯丙氨酸</li>
                            <li>同型脯氨酸</li>
                        </ul>
                        <ul class="detectionItem-info">
                            <li>丙氨酸</li>
                            <li>γ-氨基丁酸</li>
                            <li>犬尿氨酸</li>
                            <li>脯氨酸</li>
                            <li>异亮氨酸</li>
                        </ul>
                        <ul class="detectionItem-info">
                            <li>肌氨酸</li>
                            <li>丝氨酸</li>
                            <li>6-氨基己酸</li>
                        </ul>
                    </div>
                </div>
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="intro-title">新生儿代谢病筛查及生长发育健康评估检查项目优势</div>
            <ul class="introInfo advantageList">
                <!--<img class="conclusion" src="./images/conclusion.png" alt="">-->
                <li><span class="item-icon">1</span> 高灵敏性、高特异性、高选择性</li>
                <li><span class="item-icon">2</span> 快速检测，达到早诊断、早治疗的效果</li>
                <li><span class="item-icon">3</span> 一次性检测近五十种疾病，降低了筛查诊断的假阳性(0.005%～0.039%)和假阴性。同时检测33种常见氨基酸代谢，一次采样，两项检测</li>
                <li><span class="item-icon">4</span> 聘请专家级教授团队进行报告解读，公信度高，查出病情后快速建立绿色通道，直接对接国内治疗该项疾病的一流医院和专家</li>
                <li><span class="item-icon">5</span> 全国每年180万份采样数据汇总，大数据量国内领先。比对准确率高，误差小。</li>
            </ul>
            <a href="/payInfo" class="button conclusion-button">开启检测</a>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'vertical'
    })
</script>
<% include  ./common/footer%>
