<% include ./common/header%>
<div class="swiper-container container verland">
    <div class="swiper-wrapper">
        <div class="swiper-slide centerAll">
            <div class="verlandImg">云量检测<br>介绍</div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="verlandImg propaganda">宣传<br>主线</div>
            <ul class="propagandaInfo">
                <li>遗传代谢病背景</li>
                <li>过程方法</li>
                <li>项目优势</li>
                <li>平台优势</li>
            </ul>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="verland-title">遗传代谢病是什么?</div>
            <div class="diseaseInfo">
                <p>
                    遗传代谢病又称遗传代谢异常或先天代谢缺陷，是因维持机体正常代谢所必需的某些由多肽和(或)蛋白组成的酶、受体、载体及膜泵生物合成发生遗传缺陷，即编码这类多肽(蛋白)的基因发生突变而导致的疾病。
                </p>
                <p> 遗传代谢病一部分病因由基因遗传导致，还有一部分是后天基因突变造成，发病期绝大部分为新生儿，覆盖全年龄阶段。目前已发现的超过500种，其中有戈谢病、法布里病、苯 丙酮尿症、甲基丙二酸血症等疾病。</p>
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="verland-title">新生儿遗传代谢病检测流程</div>
            <div class="disease-process">
                <img src="/images/disease-process.png" class="disease-process-img">
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="verland-title">新生儿疾病筛查种类优势</div>
            <div class="contrast">
                <h3 class="contrast-title">新生儿遗传代谢检测项目数量对比</h3>
                <img src="/images/contrast-img.png" alt="" class="contrast-img">
                <img src="/images/contrast-img-class.png" alt="" class="contrast-img-class">
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="verland-title">技术团队优势</div>
            <div class="team">
                <div class="item">
                    <img src="/images/team-gq.png" class="team-img">
                    <div class="post">
                        高强 博士<br>
                        技术平台 总负责人
                    </div>
                    <div class="tal">美国普渡大学博士、原赛诺菲高级研究员</div>
                </div>
                <div class="item">
                    <img src="/images/team-pj.png" class="team-img">
                    <div class="post">
                        彭军 博士<br>
                        技术平台 总负责人
                    </div>
                    <div class="tal">加拿大阿尔伯塔大学博士、哈佛大学麻省总医院质谱、平台负责人</div>
                </div>
            </div>
            <div class="team">
                <div class="item">
                    <img src="/images/team-wcc.png" class="team-img">
                    <div class="post">
                        吴超超 博士<br>
                        蛋白组学平台<br>
                        负责人
                    </div>
                    <div class="tal">中国科学院博士、美国太平洋西北国家实验、室博士后 原俄勒冈大学研究员</div>
                </div>
                <div class="item">
                    <img src="/images/team-wlx.png" class="team-img">
                    <div class="post">
                        王来新 博士<br>
                        药物分析平台<br>
                        负责人
                    </div>
                    <div class="tac">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京大学博士 、<br>原Tandem、<br>Lab高级总监</div>
                </div>
                <div class="item">
                    <img src="/images/team-fk.png" class="team-img">
                    <div class="post">
                        冯钶 博士<br>
                        大数据分析平台<br>
                        负责人
                    </div>
                    <div class="tal">西弗吉尼亚大学、工程物理博士、卡耐基梅隆大学IT主管</div>
                </div>
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="verland-title">公司整体优势总结</div>
            <div class="total">
                <img src="/images/total.png" class="total-img">
                <a class="total-button" href="/payInfo">开启检测</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'vertical'
    })
</script>
<% include  ./common/footer%>