<% include ./common/header%>
<div class="swiper-container container intro">
    <div class="swiper-wrapper">
        <div class="swiper-slide centerAll">
            <div class="introImg">全谱维生素</div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="intro-title">潜在性维生素缺乏病</div>
            <div class="introInfo noVitamin">
                <p>
                    世界卫生组织报告指出，人类常见疾病有135种，其中106种疾病与维生素摄取不足有关。如果人体内缺乏维生素，或维生素摄取量不平衡，其他营养素就不能被人体顺利吸收、利用，从而引发多种疾病，严重的甚至会导致死亡。
                </p>
                <p class="mgt30">
                    潜在性维生素缺乏病是现代医学的盲点，有专家推测，大约3个人中就有1个可能处于潜在性维生素缺乏症，尤其孕妇、儿童和老人，其潜在性缺乏率很高。其中，缺乏最严重的有维生素A、B2和D；普遍缺乏的有维生素B1、B6、B9和C等多种维生素。
                </p>
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="intro-title">全谱维生素检测适应人群</div>
            <div class="introInfo adapt">
                全谱维生素检测适应人群：孕妇、儿童、老年人、病人、亚健康人群、更年期女性、生活压力大的学生或职场精英等
                <img class="adapt-img" src="./images/adapt.png" alt="">
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="intro-title">全谱维生素检测的优势</div>
            <div class="introInfo goodDetection">
                <div class="goodDetectionItem">
                    <span class="goodDetection-title red">传统检测（免疫、化学发光法）：</span>
                    <div class="explain">
                        ◆ 一次检测一项 <br>
                        ◆ 检测时间较长（6个小时）<br>
                        ◆ 采血量大（一次采血4.0 mL,一般需要7管血）<br>
                        ◆ 无法区分25羟维生素D2和25羟维生素维生素D3<br>
                    </div>
                </div>
                <div class="goodDetectionItem newdetection">
                    <span class="goodDetection-title  red">质谱法检测：</span>
                    <div class="explain">
                        ◆ 一次检测9项<br>
                        ◆ 检测只需十分钟<br>
                        ◆ 只需要小半管血（2 mL）<br>
                        ◆ 检测结果中包含每个项目的亚型<br>
                        ◆ 国际检测的金标准<br>
                    </div>
                </div>
            </div>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
        <div class="swiper-slide">
            <div class="intro-title">全谱维生素维生素9项检测</div>
            <div class="introInfo">
                维生素9项检测：VA、VD（VD2、VD3）、VE、VK、VB1、VB2、VB9
                <div class="example">
                    <span class="example-text">例：</span>
                    <img class="example-img" src="/images/example.png" alt="">
                </div>
            </div>
            <a class="introInfo-button">开启检测</a>
            <img src="images/icon-down-blue.png" class="icon-down">
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'vertical'
    })
</script>
<% include  ./common/footer%>